<form action="/teams" method="post">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
  <h2>Enter a new team, dawg:</h2>
  <p>Name</p><input type="text" name='team[name]' /><br/>
  <p>Do they share their stadium?</p>
  <input type="checkbox" name='team[share_stadium]'/><br/>
  <p>Roster Count</p>
  <input type="number" name='team[roster_count]'/>
  <input type="submit"/>
  </form>
