<form action="/teams" method="post">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
  <h2>Enter a new team, dawg:</h2>
  <p>Name</p><input type="text" name='team[name]' /><br/>
  <p>Above 4000 Feet?</p>
  <input type="checkbox" name='team[above_4000_feet]'/><br/>
  <p>Population</p>
  <input type="number" name='team[population]'/>
  <input type="submit"/>
  </form>
