<form action="/players" method="post">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
  <h2>Enter a new player, dawg:</h2>
  <p>Name</p><input type="text" name='player[name]' /><br/>
  <p>MVP?</p>
  <input type="checkbox" name='player[above_4000_feet]'/><br/>
  <p>Career Total Points</p>
  <input type="number" name='player[population]'/>
  <input type="submit"/>
  </form>
